<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="shortcut icon" href="../static/img/favicon.png" type="image/png">
        <link rel="stylesheet" href="../static/css/slider.css">
        <title>DANCE NOW | Главная</title>
    </head>
    <body>
        <header>
            <div class="header-header">
                <div class="logo-img-pricol">
                    <a href="index"><img class="logotype-img" src="../static/img/logotype.png" alt=""></a>
                </div>
                <div class="block-text-rigth-header">
                    <div class="otstup-block">
                        <p>т. 8(956)829-54-13</p>
                    </div>
                    <div class="text-auth-reg otstup-block">
                        <a href="zayavka">Подать заявку</a>
                    </div>
                </div>
            </div>
            <div class="block-img-header">
                <div class="img-header"></div>
            </div>
            <div class="block-menu">
                <a class="a-menu" href="#АБОНЕМЕНТЫ">АБОНЕМЕНТЫ</a>
                <a class="a-menu" href="#ФОТО">НАПРАВЛЕНИЯ</a>
                <a class="a-menu" href="#НАША СТУДИЯ">НАША СТУДИЯ</a>
                <a class="a-menu" href="#НОВОСТИ">НОВОСТИ</a>
                <a class="a-menu" href="#ОТЗЫВЫ">ОТЗЫВЫ</a>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <main>
            <h1 id="АБОНЕМЕНТЫ">АБОНЕМЕНТЫ</h1>
            <div class="block-abons">
                <div class="block-abonements">
                    <img src="../static/img/abon1.png" alt="">
                    <div class="block-abonements-text">
                        <h3>NEWBIE</h3>
                        <p class="block-abonements-text-p">Это начальный уровень программы обучения в танцевальных клубах DanceNow! Он подойдет тем, кто впервые знакомится с бальными танцами или занимался танцами в детстве. Новички почувствуют себя комфортно на занятиях этого уровня и смогут освоить основы программы, без особых сложностей.</p>
                        <h3>4499 Р.</h3>
                    </div>
                </div>
                <div class="block-abonements">
                    <img src="../static/img/abon2.png" alt="">
                    <div class="block-abonements-text">
                        <h3>BASIC</h3>
                        <p class="block-abonements-text-p">На этом уровне ученик может получить или вспомнить базовые знания в различных танцевальных направлениях.</p>
                        <h3>4999 Р.</h3>
                    </div>
                </div>
                <div class="block-abonements">
                    <img src="../static/img/abon3.png" alt="">
                    <div class="block-abonements-text">
                        <h3>BRONZE</h3>
                        <p class="block-abonements-text-p">На занятиях  продолжается освоение разных танцевалшьных стилей.Это, безусловно, даст Вам возможность почувствовать себя увереннее, повысить свой уровень владения техникой различных направлений танцев и разнообразит Вашу танцевальную жизнь.Танец становится не просто набором красивых па, а начинает рассказывать историю.</p>
                        <h3>7200 Р.</h3>
                    </div>
                </div>
                <div class="block-abonements">
                    <img src="../static/img/abon4.png" alt="">
                    <div class="block-abonements-text">
                        <h3>SILVER</h3>
                        <p class="block-abonements-text-p">Ученики совершенствуют свои танцевальные навыки.Преподавателями на ваших занятиях будут наставники высокого класса.Уникальные методики освоения танцевальных техник, разработанные ими, позволят вам значительно развить свои танцевальные умения и получать истинное удовольствие от процесса обучения и тренировки.</p>
                        <h3>8499 Р.</h3>
                    </div>
                </div>
                <div class="block-abonements">
                    <img src="../static/img/abon5.png" alt="">
                    <div class="block-abonements-text">
                        <h3>GOLD</h3>
                        <p class="block-abonements-text-p">На этом уровне владение базовыми фигурами, техникой исполнения доведены до совершенства и благодаря этому открываются новые безграничные возможности танцевальной и музыкальной импровизации. Вектор внимания в обучении направлен на развитие индивидуального стиля и мастерства. Занятия, как правило, проходят в индивидуальном формате.</p>
                        <h3>9999 Р.</h3>
                    </div>
                </div>
            </div>

            <h1 id="ФОТО">НАПРАВЛЕНИЯ</h1>
            <div>
                <div>
                </div>
                    <div class="slider">

                        <div class="item">
                            <h2 class="opus">VOGUE</h2>
                            <p class="opus1 position-text-slide1">Cтиль танца, базирующийся на модельных позах и подиумной походке. Отличительные особенности: быстрая техника движения руками, вычурная манерная походка, падения, вращения, обильное количество позировок, эмоциональная игра.</p>
                            <img src="../static/img/slide1.png">
                        </div>

                        <div class="item">
                            <h2 class="opus">ХИП-ХОП</h2>
                            <p class="opus1">Относится к уличным танцевальным стилям, в основном сопровождаемый хип-хоп музыкой и той, которая развивалась как часть хип-хоп культуры. Он включает в себя широкий диапазон стилей, таких как брейк-данс, локинг, поппинг.</p>
                            <img src="../static/img/slide2.png">
                        </div>

                        <div class="item">
                            <h2 class="opus black">ПОППИНГ</h2>
                            <p class="opus1 position-text-slide1">Стиль танца, основанный на сокращении мышц, создающий эффект резкого вздрагивания в теле танцора - пап или хит. Это делается непрерывно в ритме музыки в сочетании с различными движениями и позами. Танцор, исполняющий паппинг, называется паппером.</p>
                            <img src="../static/img/slide3.png">
                        </div>

                        <div class="item">
                            <h2 class="opus">DANCEHALL</h2>
                            <p class="opus1">Это уличный Ямайский танец , включающий в себя различные социальные танцы при обязательном наличии " отношения " ( attitude ) - так в дэнсхолле называют то чувство, которое движет танцором. Дэнсхолл соединил в себе много различных танцевальных стилей и техник, а именно таких как: быти дэнс (танец ягодицами), реггетон, хип хоп, стрип пластика, тверк, локинг, джаз-фанк, и др .</p>
                            <img src="../static/img/slide4.png">
                        </div>

                        <div class="item">
                            <h2 class="opus black">КОНТЕМПОРАРИ</h2>
                            <p class="opus1">Очень чувственный танец. Его основной особенностью является чередование активных движений с резкой остановкой, расслаблением, порою падением танцовщика на пол. Все это не хаотичный набор движений.</p>
                            <img src="../static/img/slide5.png">
                        </div>
                  
                  
                    <!-- Кнопки-стрелочки -->
                        <a class="previous" onclick="previousSlide()">&#10094;</a>
                        <a class="next" onclick="nextSlide()">&#10095;</a>
                    </div>
                <div>
                </div>
            </div>
            
            <h1 id="НАША СТУДИЯ">НАША СТУДИЯ</h1>
            <div class="block-nash-studio">
                <div class="block-nash-img-studio">
                    <img class="nash-studio-img" src="../static/img/Ellipse 7.png" alt="">
                </div>
                <div class="block-nash-text-studio">
                    <h2>DANCE NOW</h2>
                    <p>
                        Приглашаем вас окунуться в атмосферу праздника, ощутить причастность к мировой культуре танца, получить удовольствие от общения в своем кругу, обрести новые знакомства и интересы.

Мы делаем все, чтобы время, которое вы проводите с нами, стало для вас максимально приятным. Один из наших основных приоритетов – поддержание высочайшего уровня обслуживания, не имеющего аналогов. Комфортные условия, просторные раздевалки, светлые танцевальные залы с зеркалами, уютные бары позволят вам наслаждаться каждой минутой, проведенной в клубах.

Команда преподавателей — безусловная ценность и достояние танцевальной студии DanceNow. Они владеют уникальной разработанной в компании для всех направлений системой обучения, эффективность которой подтверждают многолетние танцевальные успехи членов клубов.

В нашей студии представлены самые разные направления и стили. Менеджеры по работе с гостями познакомят с клубом, сориентируют в многообразии танцевальных направлений, порекомендуют уровень групповых занятий и помогут определиться.

                    </p>
                </div>
            </div>

            <h1 id="НОВОСТИ">НОВОСТИ</h1>
            <div class="scroll">
               <p> Наша школа танцев – это прекрасная возможность освоить все интересующие танцевальные направления, а главное – ощутить поддержку команды единомышленников, в которой все равны и никто не чувствует себя скованно. Преподаватели студии уделяют большое внимание созданию по-настоящему комфортной обстановки на занятиях.

                    Понимая, как важно для взрослого человека, погружаясь в новое хобби, ощущать уверенность и поддержку, мы организовали курсы танцев, на которых можно не только разучивать па и совершенствовать физическую форму, но и свободно общаться с единомышленниками, находить друзей, учиться чувствовать музыку и получать удовольствие от движения. Танцы взрослых – это постоянный поиск гармонии в себе самом и в окружающем мире. Присоединяйтесь!
                    
                    Занятия в школе танцев проводятся в любой форме. Это групповые занятия и мини-группы.
                
                    Наша школа танцев – это прекрасная возможность освоить все интересующие танцевальные направления, а главное – ощутить поддержку команды единомышленников, в которой все равны и никто не чувствует себя скованно. Преподаватели студии уделяют большое внимание созданию по-настоящему комфортной обстановки на занятиях.

                    Понимая, как важно для взрослого человека, погружаясь в новое хобби, ощущать уверенность и поддержку, мы организовали курсы танцев, на которых можно не только разучивать па и совершенствовать физическую форму, но и свободно общаться с единомышленниками, находить друзей, учиться чувствовать музыку и получать удовольствие от движения. Танцы взрослых – это постоянный поиск гармонии в себе самом и в окружающем мире. Присоединяйтесь!
                    
                    Занятия в школе танцев проводятся в любой форме. Это групповые занятия и мини-группы.
                
                    Наша школа танцев – это прекрасная возможность освоить все интересующие танцевальные направления, а главное – ощутить поддержку команды единомышленников, в которой все равны и никто не чувствует себя скованно. Преподаватели студии уделяют большое внимание созданию по-настоящему комфортной обстановки на занятиях.

                    Понимая, как важно для взрослого человека, погружаясь в новое хобби, ощущать уверенность и поддержку, мы организовали курсы танцев, на которых можно не только разучивать па и совершенствовать физическую форму, но и свободно общаться с единомышленниками, находить друзей, учиться чувствовать музыку и получать удовольствие от движения. Танцы взрослых – это постоянный поиск гармонии в себе самом и в окружающем мире. Присоединяйтесь!
                    
                    Занятия в школе танцев проводятся в любой форме. Это групповые занятия и мини-группы.
                
                </p>
            </div>
            <h1 id="ОТЗЫВЫ">ОТЗЫВЫ</h1>
            <div class="scroll1">
                <p>
                    Инга:
                    Посещаю школу танцев Dance NOW полгода. Мне нравится здесь заниматься, я хожу на VOGUE и научилась здесь гораздо большему, чем в школе, в которую ходила раньше.
                    Преподаватель у нас очень хорошая, группа тоже подобралась отличная. Со многими девочками так подружились, что уже общаемся вне студии тоже.
                </p>
                <br>
                <p>
                    Валерия:
                    Когда училась в обычной школе, то занималась обычными танцами, но сейчас меня больше привлекает контемп. В этой школе он преподается очень интересно, я не пропускаю занятий, даже если не очень хорошо себя чувствую. Этот танец не такой как классические, но этим он меня и увлек.
                    Хочется узнать о нем все, ведь в нем можно выразить свою индивидуальность.
                </p>
                <br>
                <p>
                    Анна:
                    Я хожу в Dance NOW на европейские бальные танцы DANCEHALL. Мне очень нравится здесь заниматься, спешу на каждое занятие. Полюбила танцы еще во время учебы в университете, когда закончила его, то на какое-то время перестала их посещать. В эту школу хожу, потому что она ближе всего к дому и здесь есть мое любимое танцевальное направление.
                    Кстати в нашей группе парней и девушек одинаковое количество.
                </p>

                <p>
                    София:
                    Дочка начала ходить в эту школу танцев с начала лета. Сама попросилась на контемп, я долго мониторила в интернете отзывы о разных школах в нашем районе, об этой положительных отзывов было больше всего. Дочке нравится здесь заниматься, увлеклась с первого занятия, дома постоянно демонстрирует нам, чему научилась. 
                    Теперь она мечтает стать знаменитой танцовщицей, мы с мужем в принципе не против, раз ей так нравится. 
                </p>

                <p>
                    Алексей:
                    Танцую хип-хоп с 9 класса. Недавно записался на занятия к вам в школу. 
                    Пока мне нравится, как ведутся занятия, много новых движений уже узнал. Преподаватель отметил мой уровень сразу, но я уже его серьезно подтянул, хоть и хожу всего третий месяц к вам. Расписание занятия составлено очень удобно, я ни одно пока не пропустил.
                </p>
                
            </div>
            <div>
                <div class="block-menu">
                    <a class="a-menu" href="zayavka">ЗАЯВКА</a>
                    <a class="a-menu" href="timetable">РАСПИСАНИЕ</a>
                    <a class="a-menu" href="otzev">ОТЗЫВ</a>
                    <a class="a-menu" href="napysat">НАПИСАТЬ</a>
                </div>
            </div>
        </div>
        </main>
        <footer>
            <p class="text-footer">Тел.: 8(956)829-54-13</p>
            <p class="text-footer">E-mail: dance.now@mail.ru</p>
            <p class="text-footer">Адрес: г. Ижевск, ул. П. П. Берша 20</p>
            <p class="text-footer">VK: vk.com/dance_now</p>
        </footer>
    </body>
    <script src="../static/js/slider.js"></script>
</html>